.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: rgb(246, 239, 239);
  width: 45%;
  min-height: 15rem;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputs {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.textArea {
  height: 7rem;
  display: flex;
  justify-content: center;
}
.button {
  background-color: rgb(239, 224, 212);
  border-radius: 8px;
  border: 0px;
  height: 2rem;
}
