.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.form {
  /* From https://css.glass */
  background: rgba(187, 76, 76, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(8.6px);
  border: 1px solid rgba(238, 222, 222, 0.3);
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  justify-content: space-evenly;
  height: 300px;
  width: 500px;

}
.button{
  width: 80%;
  height:50px;
  border-radius:16px;
  background: rgba(187, 76, 76, 0.1);
  border:0px

  
}
